$white: #fff;
$white_1: ghostwhite;
$gray_1: #ddd;
$gray_2: #ccc;
$gray_3: lightgray;
$gray_4: darkgray;
$gray_5: #808080;
$gray_6: #666;

$success_color_main: forestgreen;
$success_color_secondary: #78bb78;

$error_color_main: red;
$error_color_secondary: #ec4e4b;

$error_message: $error_color_main;
$submit_button: $success_color_secondary;
$submit_button_hover: $success_color_main;

$main_font_color: #333;

$header_background_color: #222;
$header_font_color: #ddd;

$nav_background_color: #eee;
$nav_font_color: #666;

$footer_background_color: #444;
$footer_font_color: #ddd;

$backdrop_color: rgba(0, 0, 0, 0.7);
