.signup_banner_container {
  background-image: url(./signup_1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 600px;
  height: 540px;
  margin-top: 45px;
}

@media (min-width: 701px) and (max-width: 1024px) {
  .signup_banner_container {
    height: 400px;
    margin-top: 0px;
  }
}

@media (max-width: 700px) {
  .signup_banner_container {
    display: none;
  }
}
